body{
	margin: 0;
	background: white;

}

header{
	background: #86BBD8;
	color: white;
	margin: 0;
}

header h1{
	margin: 0;
	background: #33658A;
	color: #F6AE2D;
}

nav ul{
	margin: 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	color: white;
	margin: 5px;
}

img{
	max-width: 67%;
	height: auto;
	width: auto/9;
}

.footer{
	width:20%;
	height: auto;
	position: absolute;
}

h1 {
	color: #86BBD8;
	background: #33658A;
}

h3 {
	color: #F26419;
}

.section_title{
	color: white;
	background: #22333B;
	padding: 10px;
}

h4 {
	color: #22333B;
	background: white;
	padding: 10px;
}

h6{
	color: white;
}

.compsci{
	color: #22333B;
}